body, html {
	background-color: #333;
	margin: auto;
	--baseTop: 2%;
}

hr.half {
	margin: auto;
	margin-top: calc(var(--baseTop) - 1%);
	width: 20%;
	border-radius: 50%;
}

#mainContainer {
	margin: auto;
	justify-content: center;
	align-content: center;
	width: 80%;
}

.titleContent {
	font-size: 20px;
	font-family: Menlo - 400;
}

#titleContainer {
	/*display: inline-block;*/
}

#title {
	position: static;
	/*position: ;*/
	float: left;

	color: white;
	font-family: "Helvetica";
	font-size: 20px;
	justify-content: center;
	text-align: center;
	align-content: center;
}

#subTitle {
	position: static;
	float: left;

	color: white;
	font-family: "Helvetica";
	font-size: 20px;
	justify-content: center;
	text-align: center;
	align-content: center;
}

/*#grid {
	justify-content: center;
	margin: auto;
}*/

#row1 {
	margin-top: calc(var(--baseTop) + 1%);
}

#row2 {
	margin-top: calc(var(--baseTop) + 1%);
}

#row1 > div {
	width: auto;
	/*height: auto;*/
	margin: auto;
	border-style: solid;
	border-width: 1.5px;
	border-color: #444c56;
	border-radius: 6px;

	text-align: center;
	align-items: center;
	color: white;
	font-family: "Helvetica";
	font-size: 15px;
}

#row2 > div {
	width: auto;
	/*height: auto;*/
	margin: auto;
	border-style: solid;
	border-width: 1.5px;
	border-color: #444c56;
	border-radius: 6px;

	text-align: center;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: "Helvetica";
	font-size: 15px;
}

#itemOne {
	border-bottom-right-radius: 0% !important;
	border-bottom-left-radius: 0% !important;
}

#itemTwo {
	border-top-right-radius: 0% !important;
	border-top-left-radius: 0% !important;
}

#itemThree {
	border-bottom-right-radius: 0% !important;
	border-bottom-left-radius: 0% !important;
}

#itemFour {
	border-top-right-radius: 0% !important;
	border-top-left-radius: 0% !important;
}