body, html {
	background-color: #34293b;
	margin: auto;
	--baseTop: 2%;
}

hr.half {
	margin: auto;
	/*margin-bottom: -30px;*/
	margin-top: calc(var(--baseTop) - 1%);
	width: 20%;
	border-radius: 50%;
}

#bg {
	background-image: url("media\\bg.jpg");
	background-size: cover;
	background-position: center;
  	background-filter: blur(8px);
  	-webkit-filter: blur(8px);
    width: 100%;
}

#title {
	margin: auto;
	margin-top: var(--baseTop);

	color: white;
	font-family: "Helvetica";
	font-size: 30px;
	text-align: center;
	align-content: center;
}

#subTitle {
	/*margin: auto;*/
	margin-top: calc(var(--baseTop) - 1%);

	color: white;
	font-family: "Helvetica";
	font-size: 20px;
	text-align: center;
	align-content: center;
}

#grid {
	display: flex;
	margin-top: calc(var(--baseTop) + 1%);
}

#grid > div {
	width: 20%;
	height: auto;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #444c56;
	border-radius: 6px;
}

#itemOne {
	text-align: center;

	color: white;
	font-family: "Helvetica";
	font-size: 15px;
}

#itemTwo {
	text-align: center;

	color: white;
	font-family: "Helvetica";
	font-size: 15px;
}

#itemThree {
	text-align: center;

	color: white;
	font-family: "Helvetica";
	font-size: 15px;
}

#itemFour {
	text-align: center;

	color: white;
	font-family: "Helvetica";
	font-size: 15px;
}

/* imports */

