body, html {
	background-color: #22272e;
	margin: auto;
	--baseTop: 2%;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

hr.half {
	margin: auto;
	margin-top: calc(var(--baseTop) - 1%);
	width: 20%;
	border-radius: 50%;
}

#mainContainer {
	margin: auto;
	margin-top: 50px;
	justify-content: center;
	align-content: center;
	width: 65vw;
}

#pfp {
	border-radius: 50%;
	width: 26px;
	height: auto;
	padding-right: 11px;
	justify-content: left;
	cursor: pointer;
}

#nameTitle {
	color: white;
	text-align: left;
	font-size: 17px;
	font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
	margin-top: 2px;
	cursor: pointer;
}

#slashStyle {
	font-size: 14px;
	position: relative;
	top: -1px;
}

.subTitleContent {
	position: relative;
	top: 3px;
	font-size: 16px;
	text-align: left;
	margin-left: 5px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

#titleContainer {
	margin-bottom: -40px;
    display: flex;
}

#mainTitle {
	color: #adbab5;
	text-align: left;
	margin-left: 10px;
	margin-top: 9px;
	font-size: 16px;
	font-weight: 600;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

#mainSubTitle {
	color: #adbab5;
	font-size: 16px;
	font-weight: 400;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

#title {
	color: white;
	text-align: left;
	font-size: 18px;
	font-family: "Arial";
}

#row1 {
	margin-top: 50px;
	width: 60vw;
}

#row2 {
	margin-top: 20px;
}

#column1 {
	display: inline-block;
	justify-content: left;
	text-align: left;
}

#column2 {
	display: inline-block;
}

#quickRow1 > div {
	width: auto;
	margin: auto;
	border-style: solid;
	border-width: 1.5px;
	border-color: #4a5460;
	border-radius: 6px;

	text-align: center;
	align-items: center;
	color: white;
	font-family: "Helvetica";
	font-size: 15px;
}

#row1 > div {
	display: inline-block;
	width: 80%;
	margin: auto;
	border-style: solid;
	border-width: 1.5px;
	border-color: #4a5460;
	border-radius: 6px;

	text-align: center;
	align-items: center;
	color: white;
	font-family: "Helvetica";
	font-size: 15px;
}

#row2 > div {
	width: auto;
	margin: auto;
	border-style: solid;
	border-width: 1.5px;
	border-color: rgba(65, 132, 228, 0.4);
	border-radius: 6px;

	text-align: center;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: "Helvetica";
	font-size: 15px;
}

#quickItemOne {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	height: 40px;
}

#itemOne {
	background-color: #3e454e;
	border-bottom-right-radius: 0% !important;
	border-bottom-left-radius: 0% !important;
	border-bottom-right-radius: none !important;
	border-bottom-left-radius: none !important;
	height: 40px;
}

#itemTwo {
	border-top: none !important;
	border-top-right-radius: 0% !important;
	border-top-left-radius: 0% !important;
	border-bottom-right-radius: 0% !important;
	border-bottom-left-radius: 0% !important;
	height: 27px;
}

#itemThree {
	border-top: none !important;
	border-top-right-radius: 0% !important;
	border-top-left-radius: 0% !important;
	border-bottom-right-radius: 0% !important;
	border-bottom-left-radius: 0% !important;
	height: 27px;
}

#itemFour {
	border-top: none !important;
	border-top-right-radius: 0% !important;
	border-top-left-radius: 0% !important;
	border-bottom-right-radius: 0% !important;
	border-bottom-left-radius: 0% !important;
	height: 27px;
}

#itemFive {
	border-top: none !important;
	border-top-right-radius: 0% !important;
	border-top-left-radius: 0% !important;
	height: 29px;
}

#itemSix {
	background-color: rgba(42, 79, 135, 0.7);
	height: 40px;
}

.itemSixTitleContent {
	font-size: 15px;
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
	font-weight: 400;
	color: rgba(173, 186, 181, 1);
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

#buttonViewCode {
	position: relative;
	bottom: 22px;
	height: 25px;
	width: 105px;
	float: right;
	margin-right: 20px;
	background-color: #428545;
	border: 1px solid black;
	border-color: #347d39;
	border-radius: 5px;
	cursor: pointer;
}

#buttonViewCodeText {
	font-weight: 600;
	font-size: 14px;
	color: white;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}