<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/subTwo.css">
	<script src="../scripts/script.js"></script>

	<title>Sub2</title>
</head>

<body>
	<div id="mainContainer">

		<div id="titleContainer">
			<img id="pfp" src="../media/pfp.png" onclick="ToGit()"><span><div id="nameTitle" onclick="ToGit()">brendanprice2003</div></span>
		</div>

		<div class="grid">

			<!-- column one -->
			<div id="column1">

				<!-- row one -->
				<div id="row1">

					<div id="itemOne">
						<div id="mainTitle">Web Development&nbsp<span id="slashStyle">//</span>&nbsp<a id="mainSubTitleButton" onclick="takeUserBack();"><span id="mainSubTitle">Assignment 2</span></a>&nbsp>&nbsp<span id="mainSubTitleSub">Title One</span></div>
					</div>
					<div id="itemFiveSub">
						<div id="subTitleContent">
							<h1>
								Dissimilarities Between Website Creation Techniques
							</h1>
							<hr class="half">
							<h3>
								Website Creation Techniques
							</h3>
							<p>
								There are many website creation techniques, or tools, online that you are able to utilize to create websites within the comfort of your own browser. These techniques do require the user to have any prior coding knowledge, only a basic knowledge of how to operate a computer is required. Every website creation technique and tool has its own advantages, features and disadvantages, which is why some developers will prioritize using one or many over the others. Examples of website creation techniques and tools are as follows below.
							</p>
							<ul>
								<li>
									Shopify
								</li>
								<li>
									AWS
								</li>
								<li>
									Squarespace
								</li>
								<li>
									Wix
								</li>
							</ul>
							<h3>
								Dissimilarities
							</h3>
							<p>
								[Text Here]
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- second column -->
			<div id="column2">
				
				<!-- row one -->
				<div id="quickRow1">
					
					<div id="quickItemOne">
						<div id="quickTitleContent">
							About
						</div>
					</div>
					<div id="quickItemTwo">
						<div id="quickSubTitleContent">
							No description provided.
						</div>
					</div>
					<div id="quickItemThree">
						<div id="quickSubTitleContentTwo">
							<div id="statOne">
								<img id="pkg" src="../media/loc.png"><div id="fileStatWC">Word Count: 0</div>
							</div>
							<div id="statTwo">
								<img id="pkg" src="../media/pkg.svg"><div id="fileStatDeps">Dependencies: 5</div>
							</div>
							<div id="statThree">
								<img id="time" src="../media/time.svg"><div id="fileStat">Start Date: 23/01/2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- row two -->
		<div id="row2">

			<div id="itemSix">
				<div class="itemSixTitleContent">
					This website has been pushed to a GitHub repository. README.md is also available.
				</div>
				<button id="buttonViewCode" href="" onclick="ToGit()"><span id="buttonViewCodeText">View Code</span></button>
			</div>
		</div>
	</div>
</body>