<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="../styles/style.css">
	<link rel="stylesheet" type="text/css" href="../styles/subFour.css">
	<script src="../scripts/script.js"></script>

	<title>Sub4</title>
</head>

<body>
	<div id="mainContainer">

		<div id="titleContainer">
			<img id="pfp" src="../media/pfp.png" onclick="ToGit()"><span><div id="nameTitle" onclick="ToGit()">brendanprice2003</div></span>
		</div>

		<div class="grid">

			<!-- column one -->
			<div id="column1">

				<!-- row one -->
				<div id="row1">

					<div id="itemOne">
						<div id="mainTitle">Web Development&nbsp<span id="slashStyle">//</span>&nbsp<a id="mainSubTitleButton" onclick="takeUserBack();"><span id="mainSubTitle">Assignment 2</span></a>&nbsp>&nbsp<span id="mainSubTitleSub">Title One</span></div>
					</div>
					<div id="itemFiveSub">
						<div id="subTitleContent">
							<h1>
								(My) Preference of Website Technologies
							</h1>
							<hr class="half">
							<h3>
								Justification of Website Creation Technologies
							</h3>
							<p>
								Every developer has their strengths when it comes to programming and web development, that is why I have curated a list of my preferences for tools and techniques that are commonly utilized within web development and programming alike. Along with each prefered tool and/or technique I will provide a jusification for this preference.
							</p>
							<h3>
								Tools and Software
							</h3>
							<em>
								Below is a list of programming languages (or markdown languages) that I prefer to utilize. Note: React.js is a JavaScript framework that allows for a dynamic development environment.
							</em>
							<ul>
								<li>
									HTML, CSS
								</li>
								<li>
									JavaScript
								</li>
								<li>
									React.js
								</li>
								<li>
									Scss/Sass
								</li>
							</ul>
							<h5>
								Justification
							</h5>
							<p>
								HTML,CSS and JavaScript all go hand-in-hand and is the simplest form of web development tool (for myself), consists of all required functionalities for adequate user experiences, whilst not overcomplicating concepts. Finding a suitable platform build your website on is key and this is why I prefer to use HTML,CSS and JavaScript for web development.
							</p>
							<p>
								React.js and Scss/Sass take what is already good about CSS and JavaScript and add even more functionality to it. This extra functionality may be key for the web application to achieve a certain degree of user experience etc. 
							</p>
						</div>
					</div>
				</div>
			</div>

			<!-- second column -->
			<div id="column2">
				
				<!-- row one -->
				<div id="quickRow1">
					
					<div id="quickItemOne">
						<div id="quickTitleContent">
							About
						</div>
					</div>
					<div id="quickItemTwo">
						<div id="quickSubTitleContent">
							No description provided.
						</div>
					</div>
					<div id="quickItemThree">
						<div id="quickSubTitleContentTwo">
							<div id="statOne">
								<img id="pkg" src="../media/loc.png"><div id="fileStatWC">Word Count: 0</div>
							</div>
							<div id="statTwo">
								<img id="pkg" src="../media/pkg.svg"><div id="fileStatDeps">Dependencies: 5</div>
							</div>
							<div id="statThree">
								<img id="time" src="../media/time.svg"><div id="fileStat">Start Date: 23/01/2022</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- row two -->
		<div id="row2">

			<div id="itemSix">
				<div class="itemSixTitleContent">
					This website has been pushed to a GitHub repository. README.md is also available.
				</div>
				<button id="buttonViewCode" href="" onclick="ToGit()"><span id="buttonViewCodeText">View Code</span></button>
			</div>
		</div>
	</div>
</body>